<!-- Contact-->
<section class="page-section" id="contact">
    <img src="./assets/img/chat.webp" alt="background_img" id="bg_img_contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase shadowTitle">¿Listo para vender más y trabajar menos?</h2>
            <h3 class="section-subheading text-muted boxSub">Cuéntame brevemente qué necesitas y te responderé por
                WhatsApp en
                menos de 24 h.</h3>
        </div>
        <form id="contactForm" [class.was-validated]="formSubmitted" [formGroup]="contactForm" (ngSubmit)="onSubmit()"
            class="needs-validation" novalidate>
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="name" formControlName="name" type="text"
                            placeholder="Tú Nombre *" required />
                        <div class="invalid-feedback">Se requiere un nombre.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-group mb-md-0">
                        <input class="form-control" id="phone" formControlName="phone" type="tel"
                            placeholder="Tú Whatsapp *" required />
                        <div class="invalid-feedback">Se requiere un número de
                            teléfono.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="message" formControlName="message"
                            placeholder="Mensaje / Qué necesitas *" required></textarea>
                        <div class="invalid-feedback">Se requiere un mensaje.</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <div *ngIf="formStatus === 'success'" class="text-center text-white mb-3" >
                <div class="fw-bolder">¡Enviado correctamente!</div>
            </div>
            <!-- Submit error message-->
            <div *ngIf="formStatus === 'error'" id="submitErrorMessage">
                <div class="text-center text-danger mb-3 alertFeed">¡Error al enviar!</div>
            </div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton"
                    type="submit"><i class="fa-brands fa-whatsapp"></i> Enviar y hablar
                    por WhatsApp</button>
                <h3 class="section-subheading text-muted mt-4 boxSub">No te preocupes, no hacemos spam. Solo te
                    contactamos para
                    ayudarte a vender más.</h3>
            </div>
        </form>
    </div>
</section>