.shadowTitle {
  color: rgb(var(--aliantek-highlight-rgb)) !important;
  text-shadow: 1px 1px whitesmoke;
}

.boxSub {
  color: rgb(var(--aliantek-highlight-rgb)) !important;
  background-color: whitesmoke;
}

.alertFeed{
  background-color: white;
}


#bg_img_contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -20;
}

#contact {
  position: relative;
  overflow: hidden;
  background-color: #7e7e7e63;
}
