<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Servicios</h2>
            <h3 class="section-subheading text-muted">Combinamos marketing, desarrollo web y automatización para que tu
                negocio crezca sin complicaciones.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Mini-Web Vendedora Express</h4>
                <h2>$45</h2>
                <p class="text-muted">Tu página lista para vender en solo 2 días.
                    Incluye diseño profesional, botón de WhatsApp y formulario de contacto.</p>
                <a class="text-muted hoverBlue" href="#portfolio">👉 Mira cómo se ve una mini-web</a>
            </div>
            <div class="col-md-4 mb-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-solid fa-comments-dollar fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Campaña Rápida de Mensajes (7 Días)</h4>
                <h2>$40</h2>
                <p class="text-muted">Conecta con clientes y genera conversaciones reales.
                    Incluye gestión, diseño y textos listos para Facebook e Instagram.</p>
                <a class="text-muted hoverBlue" href="#portfolio">👉 Ver ejemplos de campañas que funcionan</a>
            </div>
            <div class="col-md-4 mb-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-solid fa-robot fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Asistente Digital 24/7 <br /> (Auto-Respuesta)</h4>
                <h2>$25</h2>
                <p class="text-muted">Atiende clientes automáticamente por WhatsApp o correo.
                    Configura mensajes, respuestas o promociones programadas.</p>
                <a class="text-muted hoverBlue" href="#portfolio">👉 Descubre cómo responde un asistente digital</a>
            </div>
        </div>
    </div>
</section>