<app-header></app-header>
<!--Hero-->
<header class="masthead">
    <img src="./assets/img/header-bg2.webp" alt="background_img" id="bg_img_hero">
    <div class="container">
        <div class="masthead-heading text-uppercase">Impulsa tu negocio con</div>
        <div class="masthead-subheading">tecnología y <span id="key_word">estrategia digital</span>
        </div>
        <a class="btn btn-primary btn-xl text-uppercase"
            href="https://wa.me/593996743228?text=Hola%20quiero%20agendar%20una%20asesor%C3%ADa%20gratuita%20para%20mi%20negocio."
            target="_blank">Solicita una asesoría gratuita</a>
    </div>
</header>
<app-services></app-services>
<app-projects></app-projects>
<app-contact></app-contact>
<app-footer></app-footer>