.masthead-heading {
  margin-bottom: 1rem !important;
}

#key_word {
  color: #2179e0;
  text-shadow: 1px 1px white;
}

#bg_img_hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.masthead {
  position: relative;
  overflow: hidden;
}
