.portfolio-item {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  height: 100%;
}

.portfolio-caption {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
