<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">
                Copyright &copy;
                <a routerLink="/home" class="colorPrimary">
                    Aliantek 2025
                </a>
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://wa.me/593996743228" target="_blank"
                    aria-label="Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/profile.php?id=61580397381124"
                    target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/alian_tek/" target="_blank"
                    aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3 routLink" routerLink="/privacy">Política de privacidad</a>
                <a class="link-dark text-decoration-none routLink" routerLink="/terms">Términos de uso</a>
            </div>
        </div>
    </div>
</footer>